<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-user"></i>&nbsp;Create actor <a class="btn btn-success" href="#/actors"><i class="fa fa-arrow-left"></i></a></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <form>
                <div class="form-group">
                    <label for="ffname">First name</label>
                    <input ng-model="actor.FirstName" type="text" class="form-control" id="ffname" placeholder="First name">
                </div>
                <div class="form-group">
                    <label for="flname">Last name</label>
                    <input ng-model="actor.LastName" type="text" class="form-control" id="flname" placeholder="Last name">
                </div>
                <div class="form-group">
                    <label for="bdate">Birth date</label>
                    <input ng-model="actor.BirthDate" type="text" datepicker default-date="1970-01-01" class="form-control" id="bdate" placeholder="Birth date">
                </div>
                <button type="submit" class="btn btn-success" ng-click="create(actor);"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
            </form>
        </div>
    </div>
</section>
