<section class="content-header">
    <h1>
        <i class="fa fa-key"></i>
        Forbidden
      </h1>
</section>
<section class="content">
    <div class="alert alert-danger alert-dismissible">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4><i class="icon fa fa-ban"></i> Alert!</h4> You are not authorized to see that screen. Please <strong><a href="#/login">login</a></strong> first!
    </div>
</section>
