<section class="content-header">
    <h1>
        <i class="fa fa-key"></i>
        Login
    </h1>
</section>
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Please login</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputEmail3" placeholder="Email" type="email" ng-model="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputPassword3" placeholder="Password" type="password" ng-model="pwd">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-danger pull-right" ng-click="login(email, pwd)">Sign in</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
