<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-user"></i>&nbsp;My Data</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Bordered Table</h3>
        </div>
        <div class="box-body">
            <tabs>
                <pane title="My Data">
                    <div class="row">
                        <div class="col-lg-6">
                            <form name="myForms.userForm" ng-submit="update(user)">
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input ng-model="user.FirstName" type="text" class="form-control" id="fname" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <label for="lname">Last Name</label>
                                    <input ng-model="user.LastName" type="text" class="form-control" id="lname" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input ng-model="user.Email" class="form-control" type="email" id="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea ng-model="user.Address" class="form-control" placeholder="Address" rows="3"></textarea>
                                </div>
                              <button ng-disabled="!myForms.userForm.$dirty" type="submit" class="btn btn-success">
                                    <i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                            </form>  
                        </div>
                    </div>
                </pane>
                <pane title="Second Tab">
                    <br>
                    <div>This is the content of the second tab.</div>
                    </br>
                </pane>
                <pane title="#3">
                    <div>This is the content of the third tab.</div>
                </pane>
                <pane title="Four">
                    <br>
                    <div>This is the content of the 4th tab.</div>
                    </br>
                </pane>
                <pane title="Five">
                    <div>This is the content of the 5th tab.</div>
                </pane>
            </tabs>
        </div>
    </div>
</section>
